.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.background-image {
  /*background-image: url("../assets/UCO_Logo.png");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #114905;
  color: white;
  font-weight: 600;
}

.custom-form input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8),
    inset 5px 5px 10px rgba(0, 20, 194, 0.1);
  border: 0 none;
  background: #def0b3;
}

.custom-form {
  min-width: 300px;
  max-width: 80%;
  margin: 0px auto;
  background: rgba(8, 71, 2, 0.15);
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 2.5rem;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  color: rgb(1, 20, 71);
  margin-top: 10rem;
}

.logindesing {
  margin-top: 110px;
  position: absolute;
}
