.button-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.background-image{
  /*background-image: url("../assets/UCO_Logo.png");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.w-100{
  width: 100%;
}
